{% extends "base.html" %}
{% block title %}Описание проекта{% endblock %}
{% block content %}
  <h2>Информация о проекте.</h2>
  <p> 
    <h5> Wardrobe organizer </h5>- приложение для систематизации вещей 
    в гардеробе и не только.
  </p>
  <p>
    Я иногда забываю, какие вещи у меня есть, что с чем хорошо сочетается и где 
    всё это хранится. А ещё часто приходится отрезать ярлычки с рекомендациями 
    по уходу за одеждой, и эта информация теряется. Так мне пришла в голову 
    идея приложения.
  </p>
  <p>
    Здесь можно хранить информацию о предметах и их использовании, объединять 
    вещи в комплекты, фильтровать по разным категориям.
  </p>
  <p>
    Если отмечать каждое использование комплекта, можно будет проанализировать, 
    какие вещи оказались наиболее полезны, а каких покупок в будущем можно 
    избежать.
  </p>
  <p>
    <b>Чтобы воспользоваться приложением, зарегистрируйтесь:</b>
    <a class="btn btn-primary" href="{% url 'users:signup' %}">Регистрация</a>
  </p>
  <p>
    <b>Или авторизуйтесь, если вы уже зарегестрированы:</b>
    <a class="btn btn-primary" href="{% url 'users:login' %}">Войти</a>
  </p>
  <p>
  Это позволит иметь доступ к сервису с любого устройства.
  </p>
  <p>
    <h5>Автор проекта: Инденбом Елена</h5>
  </p>
  <p> 
    <img
            src="/static/img/logo.png"
            width="30"
            height="30"
            class="d-inline-block align-top"
            alt="">
    Иконка взята отсюда:
    <a 
      href="https://www.flaticon.com/ru/free-icons/" 
      title=" иконки"> иконки от Freepik - Flaticon
    </a>
  </p>
{% endblock %} 