{% extends "base.html" %}
{% block title %}Описание сервиса{% endblock %}
{% block content %}
<h1>Здесь будет информация о сервисе</h1>
<p>
  Пожалуйсти, зарегистрируйтесь:
  <a href="{% url 'users:signup' %}">Регистрация</a>
</p>
<p>
  Или авторизуйтесь, если вы уже зарегестрированы:
  <a href="{% url 'users:login' %}">Войти</a>
</p>
<p>
  В работе над проектом мне помогает кот, лежит рядом и оказывает моральную поддержку
</p>
<img src="/static/cat.jpg" alt="Котик поддержки" style="width:200px;height:200px;">
{% endblock %} 

<p> 
  Источник иконки на сайте:
  <a href="https://www.flaticon.com/ru/free-icons/" title=" иконки"> иконки от Freepik - Flaticon</a>
</p>