{% extends 'base.html' %}
{% load thumbnail %}
{% load user_filters %}
{% block title %}
  {{item.name}}
{% endblock %} 
{% block content %}
  <div class="container">
  <h3> {{item.name|capfirst}} </h3>
  <div class="row">
    <aside class="col-12 col-md-6">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <b> Место хранения: </b> {{ item.storage_place }} 
        </li>
        {% if item.care.all %}
        <li class="list-group-item">
          <b> Уход: </b> 
          <ul>
            {% for care in item.care.all %}
              <li>
              {{ care.recommendation }}
              </li>
            {% endfor %}
          </ul>
        </li>
        {% endif%}
        <li class="list-group-item">
          <b> Количество использований: </b> {{ item.number_of_uses }}
        </li>
        {% if item.prise %}
          <li class="list-group-item">
            <b> Цена: </b> {{ item.price }}
          </li>
        {% endif %}
        {% if item.need_to_buy %}
          <li class="list-group-item" style="color:red">
            Вещи пока нет в гардеробе
          </li>
        {% endif %}
        {% if item.note %}
          <li class="list-group-item">
            <b> Заметки: </b> {{ item.note }}
          </li>
        {% endif %}
        {% if not item.need_to_buy %}
          {% if laundry %}
            <p><b> Предмет находится в стирке </b>
            <a
              class="btn btn-dark"
              href="{% url 'wardrobe:del_laundry' item.id %}"
              role="button"
              style="background-color: #20c997"
            >
              Убрать
            </a></p>
          {% else %}
              <p><a
                class="btn btn-light" style="color:green"
                href="{% url 'wardrobe:add_laundry' item.id %}" role="button"
              >
                Добавить в список стирки
              </a></p>
          {% endif %}
        {% endif %}
        <article class="col-12 col-md-6 col-xxl-4">
        {% if item.user == request.user %}
          <p>
            <a class="btn btn-primary" href="{% url 'wardrobe:item_edit' item.id %}">
              редактировать
            </a>
          </p>
        {% endif %}
        {% if item.user == request.user %}
          <p>
            <a class="btn btn-primary" href="{% url 'wardrobe:item_delete' item.id %}">
              удалить
            </a>
          </p>
        {% endif %}
        </article>
      </ul>
    </aside>
    <article class="col-12 col-md-6 col-xxl-4 order-first">
      {% thumbnail item.image "900" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
      {% endthumbnail %}
      <a class="btn btn-link" href="{% url 'wardrobe:items_outfits' item.id %}">
        Все комплекты с предметом
      </a>
    </article>
  </div>
  </div> 
{% endblock %}