{% extends 'base.html' %}
{% load thumbnail %}
{% load user_filters %}
{% block title %}
  {{outfit}}
{% endblock %} 
{% block content %}
  <div class="container">
  <h3> {{outfit|capfirst}} </h3>
  <div class="row">
    <aside class="col-12 col-md-6">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <b> Температура использования </b> (в градусах):
          {{ outfit.min_temperature }} - {{outfit.max_temperature}}
        </li>
        <li class="list-group-item">
          <b> Количество использований: </b> {{ outfit.number_of_uses }}
        </li>
        <li class="list-group-item">
          <b> Дата последнего использования: </b> {{ use_date }}
        </li>
        {% if already_used %}
          <p>Комплект сегодня уже используется
            <a
              class="btn btn-secondary"
              href="{% url 'wardrobe:cancel_outfit_use' outfit.id %}"
              role="button"
            >
              Отменить использование
            </a>
          </p>
        {% else %}
          <p><a
            class="btn btn-outline-success"
            href="{% url 'wardrobe:outfit_use' outfit.id %}" role="button"
          >
            Использовать
          </a></p>
        {% endif %}
        {% if outfit.note %}
          <li class="list-group-item">
            <b> Заметки: </b> {{ outfit.note }}
          </li>
        {% endif %}
        <article class="col-12 col-md-6 col-xxl-4">
        {% if outfit.user == request.user %}
          <p>
            <a class="btn btn-primary" href="{% url 'wardrobe:outfit_edit' outfit.id %}">
              редактировать
            </a>
          </p>
        {% endif %}
        {% if outfit.user == request.user %}
          <p>
            <a class="btn btn-primary" href="{% url 'wardrobe:outfit_delete' outfit.id %}">
              удалить
            </a>
          </p>
        {% endif %}
        </article>
      </ul>
    </aside>
    <article class="col-12 col-md-6 col-xxl-4 order-first">
      {% thumbnail outfit.image "900" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
      {% endthumbnail %}
    </article>
    {% include 'wardrobe/includes/items_display.html' %}
  </div>
  </div> 
{% endblock %}