{% extends 'base.html' %}
{% load thumbnail %}
{% load user_filters %}
{% block title %}
  {{outfit}}
{% endblock %} 
{% block content %}
  <div class="container">
  <h3> {{outfit|capfirst}} </h3>
  <div class="row">
    <aside class="col-12 col-md-6">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <b> Температура использования </b> (в градусах):
          {{ outfit.min_temperature }} - {{outfit.max_temperature}}
        </li>
        <li class="list-group-item">
          <b> Количество использований: </b> {{ outfit.number_of_uses }}
        </li>
        <li class="list-group-item">
          <b> Дата последнего использования: </b> {{ use_date }}
        </li>
        {% if already_used %}
          <p>Комплект сегодня уже используется
            <a
              class="btn btn-primary"
              href="{% url 'wardrobe:cancel_outfit_use' outfit.id %}"
              role="button"
            >
              Отменить использование
            </a>
          </p>
        {% else %}
          <p><a
            class="btn btn-light" style="color:green"
            href="{% url 'wardrobe:outfit_use' outfit.id %}" role="button"
          >
            Использовать
          </a></p>
        {% endif %}
        {% if outfit.note %}
          <li class="list-group-item">
            <b> Заметки: </b> {{ outfit.note }}
          </li>
        {% endif %}
        <article class="col-12 col-md-6 col-xxl-4">
        {% if outfit.user == request.user %}
          <p>
            <a class="btn btn-primary" href="{% url 'wardrobe:outfit_edit' outfit.id %}">
              редактировать
            </a>
          </p>
        {% endif %}
        {% if outfit.user == request.user %}
          <p>
            <a class="btn btn-primary" href="{% url 'wardrobe:outfit_delete' outfit.id %}">
              удалить
            </a>
          </p>
        {% endif %}
        </article>
        {% comment %} <li class="list-group-item d-flex justify-content-between align-items-center">
          Всего постов автора:  <span >{{ post.author.posts.count }}</span>
        </li>
        <li class="list-group-item">
          <a href="{% url 'posts:profile' post.author %}">
            все посты пользователя
          </a>
        </li> {% endcomment %}
      </ul>
    </aside>
    <article class="col-12 col-md-6 col-xxl-4 order-first">
      {% thumbnail outfit.image "900" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
      {% endthumbnail %}

      {% comment %} 

      {% if user.is_authenticated %}
        <div class="card my-4">
          <h5 class="card-header">Добавить комментарий:</h5>
          <div class="card-body">
            <form method="post" action="{% url 'posts:add_comment' post.id %}">
              {% csrf_token %}      
              <div class="form-group mb-2">
                {{ form.text|addclass:"form-control" }}
              </div>
              <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
          </div>
        </div>
      {% endif %}
      
      {% for comment in comments %}
        <div class="media mb-4">
          <div class="media-body">
            <h5 class="mt-0">
              <a href="{% url 'posts:profile' comment.author.username %}">
                {{ comment.author.username }}
              </a>
            </h5>
              <p>
               {{ comment.text }}
              </p>
            </div>
          </div>
      {% endfor %} {% endcomment %}
    </article>
    {% include 'wardrobe/includes/items_display.html' %}
  </div>
  </div> 
{% endblock %}